* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
}

/* HERO INDEX */
.hero {
    min-height: 100vh;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 2.5rem;
}

/* BOUTONS */
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.3s;
}

.primary {
    background: blue;
    color: #2a5298;
}

.secondary {
    border: 2px solid white;
    color: white;
}

.btn:hover {
    transform: scale(1.05);
}

/* SECTIONS */
section {
    padding: 60px 20px;
    max-width: 1000px;
    margin: auto;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #2a5298;
}

/* SKILLS */
.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.skills-list span {
    background: #2a5298;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
}

/* PROJECTS PAGE */
.projects-hero {
    background: #1e3c72;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.project-card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.project-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #1e3c72;
    color: white;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2rem;
    }
}

/* GALERIE DES PROJETS */
.project-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    margin: 20px 0;
}




.gallery-item {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.gallery-item img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    transition: 0.3s;
}

.gallery-item img:hover {
    transform: scale(1.05);
}

.botar{
     background: green;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.Botarat{
     background: rgb(87, 46, 70);
    color: blue;
    text-align: center;
    padding: 60px 20px;
}
.titre-portfolio {
  font-family: 'Pacifico', cursive;
  font-size: 80px;
  text-align: center;
  color: #007bff;
  margin-top: 60px;
  letter-spacing: 2px;
}

/* Responsive mobile */
@media (max-width: 768px) {
  .titre-portfolio {
    font-size: 42px;
  }
}


